# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum


###### Angular ignore section

# Ignore node_modules
ui/node_modules/

# Ignore build output directories
ui/dist/
ui/tmp/
ui/out-tsc/

# Ignore IDE-specific files (if you use any of these)
ui/.idea/
ui/.vscode/
ui/.angular/

# Ignore log files
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*

# Ignore temporary files
ui/.temp/
ui/.cache/
ui/.DS_Store
ui/.sass-cache/
ui/.npm/

# Ignore compiled TypeScript files (if you compile them manually)
ui/**/*.js
ui/**/*.js.map

# Ignore vendor folder with go third-party dependencies
api/vendor/**/*.go
api/employee/secrets/
api/vendor/*