# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum


###### Angular ignore section

# Ignore node_modules
ui/front-end/node_modules/

# Ignore build output directories
ui/front-end/dist/
ui/front-end/tmp/
ui/front-end/out-tsc/

# Ignore environment files (optional if you don't want to commit them)
ui/front-end/src/environments/*.ts

# Ignore IDE-specific files (if you use any of these)
ui/front-end/.idea/
ui/front-end/.vscode/
ui/front-end/.angular/

# Ignore log files
ui/front-end/npm-debug.log*
ui/front-end/yarn-debug.log*
ui/front-end/yarn-error.log*

# Ignore temporary files
ui/front-end/.temp/
ui/front-end/.cache/
ui/front-end/.DS_Store
ui/front-end/.sass-cache/
ui/front-end/.npm/

# Ignore compiled TypeScript files (if you compile them manually)
ui/front-end/**/*.js
ui/front-end/**/*.js.map

