<div class="home-container">

   <!-- Background Layers -->
   <div class="bg-layer" [ngStyle]="{ 'background-image': 'url(' + images[prevImageIndex] + ')' }"></div>
   <div class="bg-layer active" [ngStyle]="{ 'background-image': 'url(' + images[currentImageIndex] + ')' }"></div>

  <!-- Welcome Section - Main landing page -->
  <div class="welcome-section">
    <h1>{{ 'HOME.WELCOME' | translate }}</h1>
    <p>{{ 'HOME.DESCRIPTION' | translate }}</p>
  </div>


  <div class="navigation-section">
    <div class="nav-links">
      <button *ngIf="authService.isAuthenticated() && authService.isAdmin()" routerLink="/employees" class="nav-button">
        <i class="fas fa-users"></i>
        <h3>{{ 'NAV.EMPLOYEE_MANAGEMENT.TITLE' | translate }}</h3>
        <p>{{ 'NAV.EMPLOYEE_MANAGEMENT.DESCRIPTION' | translate }}</p>
      </button>
      <a *ngIf="authService.isAuthenticated()" routerLink="/shifts" class="nav-button">
        <i class="fas fa-briefcase"></i>
        <h3>{{ 'NAV.SHIFT_MANAGEMENT.TITLE' | translate }}</h3>
        <p>{{ 'NAV.SHIFT_MANAGEMENT.DESCRIPTION' | translate }}</p>
      </a>
      <a *ngIf="authService.isAuthenticated()" routerLink="/profile" class="nav-button">
        <i class="fas fa-user-cog"></i>
        <h3>{{ 'NAV.PROFILE_MANAGEMENT.TITLE' | translate }}</h3>
        <p>{{ 'NAV.PROFILE_MANAGEMENT.DESCRIPTION' | translate }}</p>
      </a>
      <a *ngIf="!authService.isAuthenticated()" routerLink="/urgencies/new" class="nav-button">
        <i class="fas fa-person-drowning"></i>
        <h3>{{ 'NAV.EMERGENCIES.TITLE' | translate }}</h3>
        <p>{{ 'NAV.EMERGENCIES.DESCRIPTION' | translate }}</p>
      </a>
      <a *ngIf="authService.isAuthenticated() && authService.isAdmin()" routerLink="/admin" class="nav-button admin-button">
        <i class="fas fa-cog"></i>
        <h3>{{ 'NAV.ADMIN_PANEL.TITLE' | translate }}</h3>
        <p>{{ 'NAV.ADMIN_PANEL.DESCRIPTION' | translate }}</p>
      </a>
    </div>
  </div>
</div>

<div class="test-buttons" *ngIf="isStaging">
  <button (click)="testSpinner()">Test Spinner</button>
  <button (click)="testToastr()">Test Toastr</button>
</div>