/* You can add global styles to this file, and also import other style files */

/* Reset browser default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Ensures padding and borders are included in element size */
}

html,
body {
  height: 100%;
  /* Ensure html and body elements take up the full viewport height */
  overflow: hidden;
  /* Prevent scrollbars */
}

/* Force spinner visibility */
.ngx-spinner {
  z-index: 9999 !important;
  opacity: 1 !important;
  visibility: visible !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.ngx-spinner .loading-text {
  font-weight: bold;
  color: white;
  font-size: 1.3em;
}

.ngx-spinner .spinner-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Force toast visibility */
.toast-container {
  z-index: 999999 !important;
  opacity: 1 !important;
  visibility: visible !important;
  pointer-events: all !important;
}
