/* src/app/app.component.scss */
:host {
  display: block;
  margin: 0; /* Ensure no margins */
  padding: 0; /* Remove padding */
  background-color: transparent; /* Remove the background color */
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
}
