<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <label for="username">{{ 'EMPLOYEE_FORM.USERNAME' | translate }}:</label>
  <input id="username" formControlName="username" type="text">

  <!-- Password fields are only shown if not in edit mode -->
  <div *ngIf="!isEditMode">
    <label for="password">{{ 'EMPLOYEE_FORM.PASSWORD' | translate }}:</label>
    <input id="password" formControlName="password" type="password">

    <label for="confirmPassword">{{ 'EMPLOYEE_FORM.CONFIRM_PASSWORD' | translate }}:</label>
    <input id="confirmPassword" formControlName="confirmPassword" type="password">
  </div>

  <label for="firstName">{{ 'EMPLOYEE_FORM.FIRST_NAME' | translate }}:</label>
  <input id="firstName" formControlName="firstName" type="text">

  <label for="lastName">{{ 'EMPLOYEE_FORM.LAST_NAME' | translate }}:</label>
  <input id="lastName" formControlName="lastName" type="text">

  <label for="gender">{{ 'EMPLOYEE_FORM.GENDER' | translate }}:</label>
  <select id="gender" formControlName="gender">
    <option value="M">{{ 'EMPLOYEE_FORM.GENDER_OPTIONS.MALE' | translate }}</option>
    <option value="F">{{ 'EMPLOYEE_FORM.GENDER_OPTIONS.FEMALE' | translate }}</option>
  </select>

  <label for="phoneNumber">{{ 'EMPLOYEE_FORM.PHONE' | translate }}:</label>
  <input id="phoneNumber" formControlName="phoneNumber" type="text">

  <label for="email">{{ 'EMPLOYEE_FORM.EMAIL' | translate }}:</label>
  <input id="email" formControlName="email" type="email">

  <ng-container *ngIf="isEditMode">
    <label for="profilePicture">{{ 'EMPLOYEE_FORM.PROFILE_PICTURE' | translate }}:</label>
    <app-image-upload
      [employeeId]="employeeId"
      [cacheKey]="'employee-form-' + (employeeId || 'new')"
      [initialImageUrl]="currentProfilePictureUrl"
      (imageSelected)="onImageSelected($event)"
      (imageRemoved)="onImageRemoved()">
    </app-image-upload>
  </ng-container>

  <label for="profileType">{{ 'EMPLOYEE_FORM.PROFILE_TYPE' | translate }}:</label>
  <select id="profileType" formControlName="profileType">
    <option value="Medic">{{ 'EMPLOYEE_FORM.PROFILE_OPTIONS.MEDIC' | translate }}</option>
    <option value="Technical">{{ 'EMPLOYEE_FORM.PROFILE_OPTIONS.TECHNICAL' | translate }}</option>
  </select>

  <div class="form-actions">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="isSubmitting || !employeeForm.valid">
      <span *ngIf="isSubmitting">{{ 'EMPLOYEE_FORM.SUBMITTING' | translate }}</span>
      <span *ngIf="!isSubmitting">{{ 'EMPLOYEE_FORM.SAVE' | translate }}</span>
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      [disabled]="isSubmitting"
      (click)="cancel()">
      {{ 'EMPLOYEE_FORM.CANCEL' | translate }}
    </button>
  </div>
</form>

<!-- Global spinner for loading states -->
<ngx-spinner></ngx-spinner>
