<div class="home-container" [ngStyle]="{ 'background-image': 'url(' + images[currentImageIndex] + ')' }">
  <!-- Welcome Section -->
  <div class="welcome-section">
    <h1>{{ 'HOME.WELCOME' | translate }}</h1>
    <p>{{ 'HOME.DESCRIPTION' | translate }}</p>
  </div>

  <!-- Navigation Section -->
  <div class="navigation-section">
    <div class="nav-links">
      <button routerLink="/employees" class="nav-button">
        <i class="fas fa-users"></i>
        <h3>{{ 'NAV.EMPLOYEE_MANAGEMENT.TITLE' | translate }}</h3>
        <p>{{ 'NAV.EMPLOYEE_MANAGEMENT.DESCRIPTION' | translate }}</p>
      </button>
      <a routerLink="/shifts" class="nav-button">
        <i class="fas fa-briefcase"></i>
        <h3>{{ 'NAV.SHIFT_MANAGEMENT.TITLE' | translate }}</h3>
        <p>{{ 'NAV.SHIFT_MANAGEMENT.DESCRIPTION' | translate }}</p>
      </a>
      <a routerLink="/emergencies" class="nav-button">
        <i class="fas fa-person-drowning"></i>
        <h3>{{ 'NAV.EMERGENCIES.TITLE' | translate }}</h3>
        <p>{{ 'NAV.EMERGENCIES.DESCRIPTION' | translate }}</p>
      </a>
    </div>
  </div>
</div>