<!-- Top-right section (Language Switcher + Login Button) -->
<div class="top-right-container">
  <!-- Language Switcher -->
  <div class="dropdown language-switcher" [ngClass]="{ 'open': isDropdownOpen }">
    <button class="btn btn-secondary dropdown-toggle" type="button" (click)="toggleDropdown()">
      {{ currentLanguageLabel }}
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" (click)="switchLanguage('en')">English</a>
      </li>
      <li>
        <a class="dropdown-item" (click)="switchLanguage('sr-lat')">Srpski (Latin)</a>
      </li>
      <li>
        <a class="dropdown-item" (click)="switchLanguage('sr-cyr')">Српски (Ћирилица)</a>
      </li>
      <li>
        <a class="dropdown-item" (click)="switchLanguage('ru')">Русский</a>
      </li>
    </ul>
  </div>

  <!-- Login/Register button -->
  <div *ngIf="!authService.isAuthenticated()">
    <button routerLink="/login" class="btn btn-outline-primary auth-button">
      {{ 'LOGIN.BUTTON' | translate }}
    </button>
    <button routerLink="/employees/new" class="btn btn-outline-primary auth-button">
      {{ 'LOGIN.REGISTER' | translate }}
    </button>
  </div>
  <!-- Logout button -->
  <button *ngIf="authService.isAuthenticated()" (click)="authService.logout()"
    class="btn btn-outline-danger auth-button">
    {{ 'LOGOUT.BUTTON' | translate }}
  </button>
</div>

<ngx-spinner>
</ngx-spinner>

<router-outlet></router-outlet>

<!-- Version Banner -->
<app-version-banner></app-version-banner>